{%extends 'AppRiver/base.html'%}
{% load static %}
{% block main %}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Historia</h2>
        </div>
        <ul class="timeline">
            <li>
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/1.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1901</h4>
                        <h4 class="subheading">Fundacion del Club Atletico River Plate</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/2.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1923</h4>
                        <h4 class="subheading">Nos mudamos a Alvear y Tagle</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li>
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/3.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1939</h4>
                        <h4 class="subheading">Nos mudamos al Antonio Vespucio Liberti, actual estadio de River.</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/4.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2022</h4>
                        <h4 class="subheading">Remodelacion. +86.000 de capacidad.</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        La historia
                        <br />
                        continua
                    </h4>
                </div>
{% endblock main %}