{%extends 'AppRiver/base.html'%}
{% load static %}
{% block main %}
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Historia de los Estadios</h2>
        </div>
        <ul class="timeline">
            <li>
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/1.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1901</h4>
                        <h4 class="subheading">Fundacion del Club Atletico River Plate</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">El Club Atletico River Plate fue fundado el 25 de mayo de 1901 en el barrio de la boca.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/2.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1923</h4>
                        <h4 class="subheading">Nos mudamos a Alvear y Tagle</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">En el año 1923 se construye un estadio con capacidad para 40.000 personas en Alvear, entre Tagle y Austria.</p></div>
                </div>
            </li>
            <li>
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/3.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>1939</h4>
                        <h4 class="subheading">Nos mudamos al Antonio Vespucio Liberti, actual estadio de River.</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">El estadio Monumental fue inaugurado el 26 de mayo de 1938 en un partido entre River Plate y Peñarol de Uruguay, el cual los locales ganaron por 3 a 1. El 29 de noviembre de 1986 fue rebautizado como Antonio Vespucio Liberti, en honor al presidente institucional que promovió su construcción</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div><img class="rounded-circle img-fluid" src="{% static 'AppRiver/assets/img/about/4.jpg'%}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2022</h4>
                        <h4 class="subheading">Remodelacion. +86.000 de capacidad.</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">El Antonio Vespucio Liberti, de la mano de Jorge Brito, recibio muchas modificaciones, algunas criticadas por sus socios, otras no tanto, lo que si es verdad es que el estadio alcanzo la capcidad de 86.000 personas.</p></div>
                </div>
            </li>    
            <li class="timeline-inverted">
                <div class="timeline-image"style="background-color: red; color: white;">
                    <h4>
                        La historia
                        <br />
                        continua
                    </h4>
                </div>
            </li>
        </ul>
    </section>
{% endblock main %}